main {
	height: 36rem;
}

#main {
	align-items: center;
	margin-top: 2.5rem;
}

@-moz-document url-prefix() {
	main {
		height: 38rem;
		font-size: .5rem;
	}

	#cement {
		width: 8.7rem;
		font-size: 2.1rem;
	}

	#asbestos {
		width: 8.7rem;
		font-size: 1.8rem;
	}

	#baryte {
		width: 8.7rem;
	}

	#main {
		margin-top: 3.2rem;
	}
}