/* Universal Styles */

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

p {
	font-size: 2rem;
}

h1 {
	font-size: 7rem;
	font-weight: bold;
}

/* Browser Rendering Optimization */

@-moz-document url-prefix() {
    html {
    	font-size: 15px;
    }
}

/* Header Section */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #8258FA;
}

#logo a {
	display: flex;
	align-items: center;
	font-weight: bold;
	padding: .3rem;
	margin: .2rem;
}

#logo a:hover {
	border: 1px solid blue;
	border-radius: 10px;
	padding: 0.2375rem;
}

#e {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #8258FA;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: .2rem;
}

#e:hover {
	background-color: blue;
	transition-property: background-color;
	transition-duration: .4s;
}

nav {
	display: flex;
	padding: .5rem;
}

nav li {
	display: inline-flex;	
	padding: .5rem;
}

nav li a:hover {
	color: #8258FA;
	transition-property: color;
	transition-duration: .4s;
}

#menu-icon {
	display: none;
}

@media only screen and (max-width: 768px) {
	header #logo p {
		font-size: 1.3rem;
	}

	#e {
		width: 1.4rem;
		height: 1.4rem;
	}

	header nav {
		display: none;
	}

	#menu-icon {
		display: flex;	
		padding: .5rem;
	}
}

/* Banner */

#banner {
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #8258FA;
}

#banner p {
	font-size: 5rem;
	font-weight: bold;
	color: white;
}

@media only screen and (max-width: 768px) {
	#banner h1 {
		font-size: 4rem;
	}
}

/* main section */

#main {
	display: flex;
	justify-content: center;
}

/* elements section */
#elements {
	display: inline-flex;
	width: 90%;
	flex-wrap: wrap;
	align-items: center;
}

.element-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 10rem;
	height: 10rem;
	margin: .5rem;
}

.element {
	height: 4.4rem;
	width: 4.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .7rem;
	font-weight: bold;
	font-size: 3.5rem;
	padding: .5rem;
	margin: 1px;
}

.element:hover {
	margin: 0rem;
	border: 1px solid blue;
}

.element {
	color: white;
}

.material {
	font-size: 2.3rem;
}

.element-box p {
	padding-top: .5rem;
}

#cement {
	background-image: url('../images/cement.jpg');
	background-size: contain;
	width: 8rem;
}

#aluminum {
	background-image: url('../images/aluminum.jpg');
}

#antimony {
	background-color: rgb(101,101,101);
	background: radial-gradient(circle, 
		rgba(101,101,101,1) 12%, 
		rgba(238,174,202,1) 79%);
}

#silver {
	background-image: url('../images/silver.jpg');
	background-size: cover;
}

#helium {
	background-color: red;
}

#asbestos {
	background-image: url('../images/asbestos.jpg');
	width: 10rem;
	color: rgb(112, 35, 255);
}

#baryte {
	background-image: url('../images/baryte.jpg');
	width: 7rem;
}

#boron {
	background: rgb(101,101,101);
	background: radial-gradient(circle, 
		rgba(101,101,101,1) 0%, 
		rgba(142,184,176,1) 100%);
}

#beryllium {
	background: rgb(65,18,38);
	background: radial-gradient(circle, 
		rgba(65,18,38,1) 0%, 
		rgba(2,145,79,1) 65%);
}

#titanium {
	background-image: url('../images/titanium.jpg');
}

/* side bar section */

#sidebar {
	display: inline-flex;
	width: 12%;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 1rem;
}

#sidebar li {
	display: flex;
	align-items: center;
	width: 100%;
	height: 2.1rem;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}

#sidebar li:nth-child(1) {
	border-top: 1px solid grey;
}

.sidebar-icon {
	width: 2rem;
	height: 2rem;
	border-radius: 8px;
	margin-right: .5rem;
}

#sidebar p {
	font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
	#sidebar {
		display: none;
		margin: 0px;
		background-color: black;
		justify-content: center;
		width: 100%;
	}

	#sidebar ul {
		width: 100%;
	}

	#sidebar li {
		color: white;
		border: none;
		padding-right: 0px;	
	}

	#sidebar li:nth-child(1) {
		border-top: none;
		border-bottom: 1px solid white;
	}

	#sidebar .sidebar-icon {
		margin-left: 5rem;
	}

	#sidebar p {
		padding-left: 2rem;
	}
}

#home-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #8258FA;
	color: white;
	font-weight: bold;
}

#aluminum-icon {
	background-image: url('../images/aluminum.jpg');
}

#antimony-icon {
	background-color: rgb(101,101,101);
	background: radial-gradient(circle, 
		rgba(101,101,101,1) 12%, 
		rgba(238,174,202,1) 79%);
}

#asbestos-icon {
	background-image: url('../images/asbestos.jpg');
}

#baryte-icon {
	background-image: url('../images/baryte.jpg');
}

#helium-icon {
	background-color: red;
}

#silver-icon {
	background-image: url('../images/silver.jpg');
	background-size: cover;
}

#titanium-icon {
	background-image: url('../images/titanium.jpg');
}

#beryllium-icon {
	background: rgb(65,18,38);
	background: radial-gradient(circle, 
		rgba(65,18,38,1) 0%, 
		rgba(2,145,79,1) 65%);
}

#boron-icon {
	background: rgb(101,101,101);
	background: radial-gradient(circle, 
		rgba(101,101,101,1) 0%, 
		rgba(142,184,176,1) 100%);
}

#cement-icon {
	background-image: url('../images/cement.jpg');
	background-size: contain;
}

#sidebar li:hover {
	color: blue;
	border-color: blue;
}

/* pie chart */

#content {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin-left: 2rem;
	line-height: 2rem;
}

#piechart_3d {
	width: 100%;
	height: 25rem;
}

@media only screen and (max-width: 768px) {
	#content {
		display: none;
	}
}

/* Footer Section */
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #8258FA;
	padding-left: 1rem;
	background-color: rgb(252, 211, 255);
}

#copyright:hover {
	color: rgb(255, 134, 5);
	transition-property: color;
	transition-duration: .4s;
}

@media only screen and (max-width: 768px) {
	footer {
		display: none;
	}
}