/* Universal Styles */

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

p {
	font-size: 2rem;
}

h1 {
	font-weight: bold;
}

/* Header Section */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #8258FA;
}

#logo a {
	display: flex;
	align-items: center;
	font-weight: bold;
	padding: .3rem;
	margin: .2rem;
}

#logo a:hover {
	border: 1px solid blue;
	border-radius: 10px;
	padding: 0.2375rem;
}

#e {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #8258FA;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: .2rem;
}

#e:hover {
	background-color: blue;
	transition-property: background-color;
	transition-duration: .4s;
}

nav {
	display: flex;
	padding: .5rem;
}

nav li {
	display: inline-flex;	
	padding: .5rem;
}

nav li a:hover {
	color: #8258FA;
	transition-property: color;
	transition-duration: .4s;
}

@media only screen and (max-width: 768px) {
	header #logo p {
		font-size: 1.3rem;
	}

	#e {
		width: 1.4rem;
		height: 1.4rem;
	}

	header nav {
		padding: .1rem;
	}

	header nav li {
		padding: .1rem;
	}

	header nav li:nth-child(2) {
		display: none;
	}

	header nav li:nth-child(3) {
		display: none;
	}

	header nav li:nth-child(4) {
		display: none;
	}
}

/* Main Section */

/* Banner */

#banner {
	width: 100%;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 8rem;
	color: white;
	background-color: #8258FA;
	margin-bottom: 1rem;
}

#banner p {
	font-size: 5rem;
	font-weight: bold;
}

/* elements section */
#elements {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
}

.element-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10rem;
	height: 10rem;
	margin: .5rem;
}

.element {
	height: 4.4rem;
	width: 4.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .7rem;
	font-weight: bold;
	font-size: 3.5rem;
	padding: .5rem;
}

.element a {
	color: white;
}

.material {
	font-size: 2.3rem;
}

.element-box p {
	padding-top: .5rem;
}

#cement {
	background-image: url('../images/cement.jpg');
	background-size: contain;
	width: 8rem;
}

#aluminum {
	background-image: url('../images/aluminum.jpg');
}

#antimony {
	background-color: rgb(101,101,101);
	background: radial-gradient(circle, 
		rgba(101,101,101,1) 12%, 
		rgba(238,174,202,1) 79%);
}

#silver {
	background-image: url('../images/silver.jpg');
	background-size: cover;
}

#helium {
	background-color: red;
}

#asbestos {
	background-image: url('../images/asbestos.jpg');
	width: 10rem;
}

#asbestos a {
	color: rgb(112, 35, 255);
}

#baryte {
	background-image: url('../images/baryte.jpg');
	width: 7rem;
}

#boron {
	background: rgb(101,101,101);
	background: radial-gradient(circle, 
		rgba(101,101,101,1) 0%, 
		rgba(142,184,176,1) 100%);
}

#beryllium {
	background: rgb(65,18,38);
	background: radial-gradient(circle, 
		rgba(65,18,38,1) 0%, 
		rgba(2,145,79,1) 65%);
}

#titanium {
	background-image: url('../images/titanium.jpg');
}

/* Footer Section */
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #8258FA;
	padding-left: 1rem;
	background-color: rgb(252, 211, 255);
}

#copyright:hover {
	color: rgb(255, 134, 5);
	transition-property: color;
	transition-duration: .4s;
}

@media only screen and (max-width: 768px) {
	footer nav li {
		padding: 0rem;
	}	
}